.idea/workspace.xml
.idea/*
.idea
node_modules/
client/node_modules
serverless/functions/node_modules
serverless/functions/node_modules/
*serverless/functions/node_modules/
/client/node_modules
node_modules/
config.toml
config_orig.toml
firestore.json
.tmp.drivedownload/*
algolia.txt
firestore_orig.json
firestore_dev.json
firestore_prod.json
firestore.json
firestore_dev_data.json
firestore_orig_data.json
firestore_prod_data.json
keys_dev.js
keys_prod.js
keys_local.js
server/vendor
server/Godeps
server-dev/vendor
server-dev/Godeps
server-prod/vendor
server-prod/Godeps
server/vendor
server/Godeps/
server-dev/vendor/
server-dev/Godeps/
server-prod/vendor/
server-prod/Godeps/