.idea/workspace.xml
.idea/*
.idea
node_modules/
client/node_modules
serverless/functions/node_modules
serverless/functions/node_modules/
*serverless/functions/node_modules/
/client/node_modules
node_modules/
package-lock.json
yarn.lock
client/yarn.lock
client\yarn.lock
client/package-lock.json
client\package-lock.json
utilities/package-lock.json
utilities\package-lock.json
serverless/functions/package-lock.json
serverless\functions\package-lock.json
config.toml
config_orig.toml
firestore.json
.tmp.drivedownload/*
algolia.txt
firestore_orig.json
firestore_dev.json
firestore_prod.json
firestore.json
firestore_dev_data.json
firestore_orig_data.json
firestore_prod_data.json
keys_dev.js
keys_prod.js
keys_local.js
server/vendor
server/Godeps
server-dev/vendor
server-dev/Godeps
server-prod/vendor
server-prod/Godeps
server/vendor
server/Godeps/
server-dev/vendor/
server-dev/Godeps/
server-prod/vendor/
server-prod/Godeps/
*.exe
server.exe
godep.exe
\server\bin\godep.exe
\server-dev\bin\godep.exe
\server-prod\bin\godep.exe
server\server.exe
\server\server.exe
\server-dev\server.exe
\server-prod\server.exe
server/bin
server/bin/
\server\Gopkg.lock
server/Gopkg.lock
\server-dev\Gopkg.lock
server-dev/Gopkg.lock
\server-prod\Gopkg.lock
server-prod/Gopkg.lock